<h1>Take your pick: </h1>

<div id="container">
  <div class="flex-container">
    <div class="image">
      <a href="game/rock">
        <img src="/img/rock.png"/>
        <div class="text" id="rock">Rock</div>
      </a>
    </div>
    <div class="image">
      <a href="game/paper">
        <img src="/img/paper.png"/>
        <div class="text" id="paper">Paper</div>
      </a>
    </div>
    <div class="image">
      <a href="game/scissors">
        <img src="/img/scissors.png"/>
        <div class="text" id="scissors">Scissors</div>
      </a>
    </div>
  </div>
</div>
